<ion-content>
    <ion-refresher slot="fixed" class="ion-margin-top" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="header">
                    <ion-title>Minha Conta</ion-title>
                    <div class="options-btn ion-text-right">

                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">

                <div class="user-informations">
                    <div class="informations">
                        <h2>{{ userName }}</h2>
                        <p>{{ userEmail }}</p>
                    </div>
                    <div class="options">
                        <ion-buttons>
                            <ion-button (click)="onOpenPopover($event)">
                                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </div>
                </div>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" padding>

                <ion-card class="card-border-top card-settings">
                    <ion-card-header class="ion-no-padding">
                        <h2>Tema do App</h2>
                    </ion-card-header>
                    <ion-card-content>
                        <p class="ion-text-justify">Aqui você pode alterar a cor do sistema em cores Escuras ou Claras. As cores dos textos e icones também mudarão conforme o tema, se escuro ficará branco senão ficará em preto.</p>

                        <ion-list lines="none" class="ion-no-padding">
                            <ion-item>
                                <ion-label>Tema Escuro:</ion-label>
                                <ion-toggle (ionChange)="onChangeTheme()" [checked]="darkMode"></ion-toggle>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card-settings">
                    <ion-card-header class="ion-no-padding">
                        <h2>Redefinir Senha</h2>
                    </ion-card-header>
                    <ion-card-content>
                        <p class="ion-text-justify">Por motivos de segurança, deixamos a atualização de dados e a redefinição de senha separados, para que haja o melhor controle de segurança da sua conta. Nesta opção, será enviado um e-mail para que você possa redefinir sua senha.</p>

                        <div class="ion-text-center ion-margin-top">
                            <ion-button color="primary" fill="outline" [disabled]="didSendEmail" (click)="onSendEmail()">Enviar E-mail</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card-border-danger-botton card-settings">
                    <ion-card-header class="ion-no-padding">
                        <h2>Excluir Conta</h2>
                    </ion-card-header>
                    <ion-card-content>
                        <p class="ion-text-justify">Utilize essa opção se você não quiser mais possuir uma conta no nosso sistema. Lembre-se que quando sua conta for excluida, você não poderá mais recupera-lá.</p>

                        <div class="ion-text-center ion-margin-top">
                            <ion-button color="danger" fill="outline" (click)="onShowAlertAccount()">Excluir Conta</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
