ion-card {
    margin-top: 20px;
}

ion-label {
    font-weight: bold;
}

ion-card ion-card-header h2 {
    padding-left: 15px;
    color: #6200EA;
}

.card-border-danger-botton {
    border-bottom: 4px solid #E53935;
}

.card-border-danger-botton ion-card-header h2 {
    color: #E53935;
}

.user-informations {
    display: flex;
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.user-informations .avatar {
    text-align: left;
    width: 170px;
}

.user-informations .informations {
    margin-left: 10px;
    width: 100%;
}

.user-informations .informations p {
    margin-top: -5px;
}

.user-informations .options {
    padding-top: 20px;
}
