<ion-content padding>
    <!-- <ion-refresher slot="fixed" class="ion-margin-top" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="header">
                    <ion-title color="primary">Analizar Gráficos</ion-title>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">

                <div style="display: inline-block">
                    
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ng-template #loading>
        <div class="my-loading ion-text-center">
            <ion-spinner color="primary"></ion-spinner>
        </div>
    </ng-template>
</ion-content>
