<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="12" padding>

                <ion-card padding>
                    <ion-card-header class="ion-text-center" padding>
                        <ion-card-title color="primary">
                            {{ isLoginMode ? 'Entrar' : 'Cadastre-se' }} no Sistema
                        </ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">

                            <div class="form-group" *ngIf="!isLoginMode">
                                <label>Seu Nome</label> <br>

                                <input type="text" formControlName="name"
                                    [ngClass]="{
                                        'input-error': form.get('name').touched && form.get('name').hasError('required')
                                    }"
                                >

                                <div class="error" *ngIf="form.get('name').touched && form.get('name').hasError('required')">
                                    <ion-label color="danger">
                                        Você <strong>precisa</strong> indicar o seu nome
                                    </ion-label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>E-mail</label> <br>

                                <input type="email" formControlName="email"
                                    [ngClass]="{
                                        'input-error': form.get('email').touched && form.get('email').hasError('required') || form.get('email').hasError('email')
                                    }"
                                >

                                <div class="error" *ngIf="form.get('email').touched && form.get('email').hasError('required')">
                                    <ion-label color="danger">
                                        O e-mail é <strong>obrigatório</strong>
                                    </ion-label>
                                </div>
                                <div class="error" *ngIf="form.get('email').touched && form.get('email').hasError('email')">
                                    <ion-label color="danger">
                                        O e-mail está <strong>incorreto</strong>
                                    </ion-label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Senha</label> <br>

                                <input type="password" formControlName="password"
                                    [ngClass]="{
                                        'input-error': form.get('password').touched && form.get('password').hasError('required')
                                    }"
                                >

                                <div class="error" *ngIf="form.get('password').touched && form.get('password').hasError('required')">
                                    <ion-label color="danger">
                                        A senha é <strong>obrigatória</strong>
                                    </ion-label>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="!isLoginMode">
                                <label>Confirme sua Senha</label> <br>

                                <input type="password" formControlName="conf_password"
                                    [ngClass]="{
                                        'input-error':
                                            form.get('conf_password').touched &&
                                            form.get('conf_password').hasError('required') ||
                                            form.get('conf_password').value !== form.get('password').value
                                    }"
                                >

                                <div class="error" *ngIf="form.get('conf_password').touched && form.get('conf_password').hasError('required')">
                                    <ion-label color="danger">
                                        Você <strong>precisa</strong> confirmar a sua senha
                                    </ion-label>
                                </div>
                                <div class="error" *ngIf="form.get('conf_password').touched && form.get('conf_password').value !== form.get('password').value">
                                    <ion-label color="danger">
                                        As senhas não são <strong>iguais</strong>
                                    </ion-label>
                                </div>
                            </div>

                            <div class="buttons ion-text-center">
                                <ion-button
                                    type="submit"
                                    expand="block"
                                    color="primary"
                                    *ngIf="isLoginMode"
                                    [disabled]="isLoading || !form.get('email').valid || !form.get('password').valid"
                                >
                                    {{ isLoading ? 'Carregando...' : 'Entrar' }}
                                </ion-button>

                                <ion-button
                                    type="submit"
                                    expand="block"
                                    color="primary"
                                    *ngIf="!isLoginMode"
                                    [disabled]="!form.valid || isLoading"
                                >
                                    {{ isLoading ? 'Carregando...' : 'Cadastrar' }}
                                </ion-button>

                                <p>OU</p>

                                <ion-button
                                    expand="block"
                                    fill="clear"
                                    (click)="isLoginMode = !isLoginMode"
                                    [disabled]="isLoading"
                                >
                                    {{ isLoginMode ? 'Cadastrar' : 'Cancelar' }}
                                </ion-button>
                            </div>

                        </form>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="isLoginMode">
        <ion-row>
            <ion-col size="12" padding>
                <ion-card>
                    <ion-button
                        expand="block"
                        fill="clear"
                        size="small"
                        (click)="onForgotPassword()"
                        [disabled]="isLoading"
                    >
                        Esqueci minha Senha
                    </ion-button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
