<ion-content [scrollEvents]="true">
    <ion-refresher slot="fixed" class="ion-margin-top" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="header">
                    <ion-title>Minhas Despesas</ion-title>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">

                <ion-card class="card-border-top">
                    <ion-card-content>
                        <div class="form-group">
                            <label>Pesquise uma Despesa</label> <br>
                            <input type="text" [formControl]="tag">
                        </div>
                    </ion-card-content>
                </ion-card>

                <div *ngIf="searchResults$ | async as results">
                    <ion-card *ngIf="tag.value !== ''" class="card-border-botton">
                        <ion-card-content>
                            <div *ngIf="results == '' || results == [];else allResults" class="ion-text-center">
                                Nada encontrado!
                            </div>

                            <ng-template #allResults>
                                <ion-list lines="none">
                                    <ion-item
                                        *ngFor="let item of results"
                                        class="expenses-list"
                                        [routerLink]="['/', 'expense-detail', item._id, userToken]"
                                        [queryParams]="{ page: 'all-expenses' }"
                                    >
                                        <ion-icon slot="start" name="reader"></ion-icon>
                                        <ion-label class="ion-label-title">{{ item.name }}</ion-label>
                                        <ion-label class="ion-text-right">{{ item.value | currency }}</ion-label>
                                    </ion-item>
                                </ion-list>
                            </ng-template>
                        </ion-card-content>
                    </ion-card>
                </div>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">

                <div *ngIf="expenses$ | async as expenses; else loading">

                    <div *ngIf="expenses == '' || expenses == []; else allExpenses" class="ion-text-center">
                        <p>Você não possui nenhuma despesa cadastrada.</p>
                        <ion-button routerLink="/add-expense">Adicionar Despesa</ion-button>
                    </div>

                    <ng-template #allExpenses>
                        <ion-list lines="none">
                            <ion-item
                                *ngFor="let item of expenses"
                                class="expenses-list"
                                [routerLink]="['/', 'expense-detail', item._id, userToken]"
                                [queryParams]="{ page: 'all-expenses' }"
                                detail
                            >
                                <ion-icon slot="start" name="reader"></ion-icon>
                                <ion-label class="ion-text-wrap">
                                    <h2 class="ion-list-title">{{ item.name }}</h2>
                                    <small>{{ item.date }}</small>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ng-template>

                </div>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onScrollToTop()">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ng-template #loading>
        <div class="my-loading ion-text-center">
            <ion-spinner color="primary"></ion-spinner>
        </div>
    </ng-template>
</ion-content>
