<ion-content padding>
    <ion-refresher slot="fixed" class="ion-margin-top" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="header">
                    <ion-title color="primary">Home</ion-title>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" padding>

                <div *ngIf="userDataCtrl$ | async as userDataCtrl">

                    <div *ngIf="userDataCtrl.numberOfExpenses == 0 || userDataCtrl == null; else dataCtrl"></div>

                    <ng-template #dataCtrl>
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>Controle de Dados</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>

                                <ion-list lines="none">
                                    <ion-item>
                                        <ion-icon slot="start" name="wallet" color="success"></ion-icon>
                                        <ion-label class="ion-label-title">Salário</ion-label>
                                        <ion-label class="ion-text-right">{{ userSalary | currency }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon slot="start" name="options" color="danger"></ion-icon>
                                        <ion-label class="ion-label-title">Total Gasto</ion-label>
                                        <ion-label class="ion-text-right">{{ userDataCtrl.sumOfValues | currency }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon slot="start" name="analytics" color="warning"></ion-icon>
                                        <ion-label class="ion-label-title">Média de Gastos</ion-label>
                                        <ion-label class="ion-text-right">{{ userDataCtrl.avgOfValues | currency }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon slot="start" name="layers" color="primary"></ion-icon>
                                        <ion-label class="ion-label-title">Total de Despesas</ion-label>
                                        <ion-label class="ion-text-right">{{ userDataCtrl.numberOfExpenses }}</ion-label>
                                    </ion-item>
                                </ion-list>

                            </ion-card-content>
                        </ion-card>
                    </ng-template>

                </div>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" padding>

                <div *ngIf="lastTenExpense$ | async as expenses; else loading">

                    <div *ngIf="expenses == '' || expenses == []; else lastExpenses" class="ion-padding">
                        <fieldset class="ion-text-justify">
                            <legend>Mensagem</legend>
                            Você não tem nenhuma despesa cadastrada. Click no botão no <b>canto inferior direito</b> para adicionar despesas
                        </fieldset>
                        <p class="ion-text-center">
                            Arraste para baixo para atualizar!
                        </p>
                    </div>

                    <ng-template #lastExpenses>
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>Suas Ultimas Despesas</ion-card-title>
                                <ion-card-subtitle>{{ numberOfExpenses }} Ultimas</ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>

                                <ion-list lines="none">
                                    <ion-item *ngFor="let item of expenses" [routerLink]="['/', 'expense-detail', item._id, userToken]">
                                        <ion-icon slot="start" name="reader" color="primary"></ion-icon>
                                        <ion-label class="ion-label-title">{{ item.name }}</ion-label>
                                        <ion-label class="ion-text-right">{{ item.value | currency }}</ion-label>
                                    </ion-item>
                                </ion-list>

                            </ion-card-content>
                        </ion-card>
                    </ng-template>

                </div>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/add-expense">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ng-template #loading>
        <div class="my-loading ion-text-center">
            <ion-spinner color="primary"></ion-spinner>
        </div>
    </ng-template>
</ion-content>
