.my-loading {
    padding-top: 50px;
}

.expense-card-detail-border-top {
    border-top: 4px solid #6200EA;
}

.expense-card-detail-border-botton {
    border-bottom: 4px solid #6200EA;
}

.description {
    padding: 0 10px;
}

.ion-label-title {
    font-weight: bold;
}
