.header ion-title {
    font-size: 25px;
}

.content {
    margin-top: 30px;
}

.content fieldset {
    border: 1px solid #000;
    border-radius: 4px;
}

.content fieldset p {
    text-align: justify;
}

.content ion-list {
    margin-top: 30px;
}

.content .ion-label-title {
    font-weight: bold;
}
