/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Header Styles */
.header {
    display: flex;
    margin-top: 10px;
}
.header ion-title {
    color: #6200EA;
    font-size: 25px;
    font-weight: bold;
}
/* END */

/* Action Sheet Styles */
.action-sheet-group:not(.action-sheet-group-cancel) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.action-sheet-group .action-sheet-title {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.action-sheet-group-cancel button span .action-sheet-icon {
    color: #000;
}
.action-sheet-group .btn-one span .action-sheet-icon {
    color: #00C853;
}
.action-sheet-group .btn-two span .action-sheet-icon {
    color: #ffce00;
}
.action-sheet-group .btn-three span .action-sheet-icon {
    color: #E53935;
}
.action-sheet-group .btn-four span .action-sheet-icon {
    color: #7C4DFF;
}
/* END */

/* Alert Controller Styles */
.alert-wrapper .alert-head {
    text-align: center;
}
.alert-wrapper .alert-head h2 {
    color: #E53935;
    font-weight: bold;
}
.alert-wrapper .alert-message {
    text-align: justify;
    color: #000;
}

/* END */

/* Forms Styles */
.form-group {
    width: 100%;
    margin-bottom: 23px;
}
.form-group label {
    color: #000;
    font-weight: bold;
}
.form-group input, .form-group textarea {
    margin-top: 5px;
    width: 100%;
    border: 1.5px solid rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 16px;
    outline: none;
    transition: 0.4s ease all;
}
.form-group input:focus:not(.input-error), .form-group textarea:focus:not(.input-error) {
    border-color: #6200EA;
}

.form-group .error ion-label {
    font-size: 13px;
}
.form-group .input-error {
    border-color: #E53935;
}
.btns ion-button:first-child {
    margin-bottom: 10px;
}
/* END */

/* Ion Card Styles */
ion-card {
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.25);
}
.card-border-top {
    border-top: 4px solid #6200EA;
}
.card-border-botton {
    border-bottom: 4px solid #6200EA;
}
.card-settings p {
    color: #000;
}
/* END */

/* Tab Bar Styles */
ion-tab-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.25);

    ion-tab-button ion-label, ion-tab-button ion-icon {
        color: #000;
    }

    ion-tab-button.tab-selected {
        ion-label, ion-icon {
            color: #6200EA;
        }
    }

}
/* END */

/* AccountComponent Popover Styles  */
.popover ion-icon {
    color: #000;
}
/* END */

/* My Cunston Error Message Styles */
.my-custon-error-msg {

    .error-header {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .error-header ion-title {
        font-size: 30px;
    }

    .error-content {
        padding: 2px 12px;
        background-color: #E53935;
        border-radius: 3px;
        box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.25);
        color: #fff;
    }

    .my-error-button {
        margin-top: 20px;
    }

}
/* END */

/* Home Page Expenses List */
.expenses-list ion-icon {
    color: #6200EA;
}
/* END */

/* Dark Styles */
.dark {

    .header ion-title {
        color: #7C4DFF;
        font-size: 25px;
        font-weight: bold;
    }

    .alert-wrapper .alert-message {
        text-align: justify;
        color: #fff;
    }

    .action-sheet-group .action-sheet-title {
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }

    .action-sheet-group-cancel button span .action-sheet-icon {
        color: #fff;
    }

    .form-group label {
        color: #fff;
        font-weight: bold;
    }

    .form-group input, .form-group textarea {
        margin-top: 5px;
        width: 100%;
        border: 1.5px solid #fff;
        color: #fff;
        border-radius: 4px;
        padding: 6px 10px;
        font-size: 16px;
        outline: none;
        transition: 0.4s ease all;
        background-color: #252525;
    }

    .form-group .input-error {
        border-color: #E53935;
    }

    ion-card {
        --background: #252525 !important;
        box-shadow: 1px 1px 20px 2px rgba(172, 172, 172, 0.25);

        ion-card-content {
            --background: #252525 !important;
        }

    }

    ion-list {
        background-color: #252525 !important;

        ion-item {
            --background: #252525 !important;
        }

    }

    ion-tab-bar {
        border-top: 1px solid rgba(172, 172, 172, 0.25);

        ion-tab-button ion-label, ion-tab-button ion-icon {
            color: #fff;
        }

        ion-tab-button.tab-selected {
            ion-label, ion-icon {
                color: #7C4DFF;
            }
        }

    }

    .popover ion-icon {
        color: #fff;
    }

    .card-settings p {
        color: #fff;
    }

    .expenses-list ion-icon {
        color: #7C4DFF;
    }

}
/* END */
